<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>github user</title>
    <style>
        a { display:block; text-decoration: none; }
        .avatar { width: 230px; }
    </style>
</head>
<body>
    <div id="github">
        
        <p>请输入用户名：<input placeholder="please enter a userName:" v-model="userName"></p>
        
        <p id="recommended">
            <code>推荐用户：</code>
            <span v-for="user in recommendedUsers" @click="changeUser(user)"> {{user}} </span>
        </p>
        <a :href="'https://github.com/' + userName" class="avatar">
            <img :src="avatar" alt width="230" height="230">
        </a>
        <a href="">repositories<span class="Counter"> {{repositories}} </span></a>
        <a href="">stars<span class="Counter"> {{stars}} </span></a>
        <a href="">followers<span class="Counter"> {{followers}} </span></a>
        <a href="">following<span class="Counter"> {{following}} </span></a>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.4/vue.min.js"></script>
    <script>
        
        
        new Vue({
            el:"#github",
            data:{
                avatar:null,
                repositories:0,
                stars:0,
                followers:0,
                following:0,
                userName:"benleie",
                recommendedUsers:['songxingguo', 'bailicangdu', 'jiaaa1014', 'tj']
            },
            mounted: function () {
                
                this.debouncedNameChanged = _.debounce(this.nameChanged, 1000)
                this.getApi(this);
            },

            watch:{
                userName:function(){
                    this.debouncedNameChanged()
                }
            },

            methods:{
                getApi:function (app) {
                    let i = 1;

                    axios.defaults.baseURL = 'https://api.github.com';
                    axios.defaults.headers.common['Authorization'] = 'token f4f0e0c7d4575b56a540369ae1b07bb1a0e9e05a'

                    axios.get('/users/' + app.userName)
                        .then(function (response) {
                            app.avatar = response.data.avatar_url,
                                app.repositories = response.data.public_repos,
                                app.followers = response.data.followers,
                                app.following = response.data.following,
                                console.log(response.data.login)
                        })

                    //get user's starred repos   
                    let starredLists = []
                    
                    !function getStarred(index){
                        axios.get(`/users/${app.userName}/starred?page=${index++}&per_page=100`)
                            .then(function(response){
                                starredLists.push(...response.data)
                                console.log(starredLists.length + '   ' + index)
                                if(response.data.length == 100)
                                    getStarred(index);
                                if(response.data.length != 100)
                                    app.stars = starredLists.length;
                            })
                    }(1)
                    


                    /* do {
                        axios.get(`/users/${app.userName}/starred?page=${i++}&per_page=100`)
                            .then(function (response) {
                                starredLists.push(...response.data)
                                console.log('starredLists.length: '+ starredLists.length + ' ' + i)
                                
                                // app.stars = response.data.length
                            })
                            
                    } while (i < 25); */
                },

                nameChanged:function () {
                    this.stars = 0;
                    this.getApi(this)
                    console.log("debounced time is 1000")
                },

                changeUser:function(user){
                    this.userName = user
                }
            }
        })
    </script>

</body>
</html>